.right-line{
    width: 60px;
    height: 3px;
    background-color: orange;
    margin-left: 8px;
}
.left-line{
    width: 60px;
    height: 3px;
    background-color: orange;
    margin-right: 8px;
}
.course-icon{
    font-size: 40px;
}
.course-link{
    color: purple;
}
.course-desc{
    color: #818181;
}
.card{
    box-shadow: 0 0 5px 5px #e4e0e0;
}
.card:hover{
    cursor: pointer;
}
.card-img-overlay-custom{
    background-color: rgba(0, 0, 0, 0.31);
    top: 0%;
    right: 0%;
}
.card-img-wrapper:hover .card-img-overlay-custom{
    visibility: visible!important;
}
