.faq-background {
    background-image: url("../img/Background/dirty-pattern-paint-room-block.jpg");
    background-size: cover;
    height: 800px;
}
.accordion-container{
    top: 10%;
    right: 50%;
    transform: translate(50%, 0);
}
.support-icon{
    font-size: 25px;
    color: purple;
}
.custom-card-FAQ{
    box-shadow: none;
}
.card-btn{
    color: white;
    outline: none!important;
}
.custom-card-FAQ .card-header{
    background-color: purple;
}
.card-btn:focus, .card-btn.focus {
    box-shadow: 0 0 0 0.2rem purple;
}
.card-btn:hover{
    color: #afafaf;
}